{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "semi": false,
  "useTabs": false
}
